DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@localhost:5432/ormp

# Microsoft Graph API / SharePoint Integration Settings
SHAREPOINT_TENANT_ID=your_microsoft_tenant_id_here
SHAREPOINT_CLIENT_ID=your_microsoft_app_client_id_here
SHAREPOINT_CLIENT_SECRET=your_microsoft_app_client_secret_here
SHAREPOINT_SITE_ID=
SHAREPOINT_DRIVE_ID=
SHAREPOINT_FOLDER_ID=
SHAREPOINT_SHARE_LINK=https://obtmhl.sharepoint.com/:f:/s/GFOLamDashboard/IgCEoaEMIExDTZ8APnqexqm6AW57-lo5YOkQng0OaKntfJ4?e=zAHtzC
